*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
/python/src/config.yml
/python/src/correctsymlinks.py
/python/src/numerique-import.py
/python/src/photosharingserver/__init__.py
/python/src/photosharing_input.sh
/python/src/start_detectors.sh
